.main {
  margin-top: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
}

hr {
  border: 0.1px solid #01cdbd;
}

.title {
  width: 79%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 20px;
}

.title-title {
  width: 60%;
}

.title-title > h1 {
  margin-bottom: 20px;
}

.title-title > p {
  margin-bottom: 10px;
  color: gray;
  line-height: 20px;
}

.title-image {
  width: 40%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.title-image img {
  height: 200px;
  border-radius: 7px;
}

.gray {
  background-color: #f3f5f5;
  display: flex;
  justify-content: center;
}

.cards {
  margin-top: 8px;
  display: flex;
  width: 79%;
}
.card {
  width: 70%;
  display: flex;
  flex-direction: column;
  /* background-color: #01cdbd; */
}

.boxes {
  width: 100%;
  margin-bottom: 20px;
}

.boxes > h2 {
  margin-bottom: 20px;
}

.boxelements {
  display: flex;
  align-items: center;
  /* background-color: lightgreen; */
  flex-wrap: wrap;
  width: 100%;
  margin-bottom: 27px;
}

.boxelements-item {
  overflow: hidden;
  width: 46.6%;
  height: 130px;
  background-color: white;
  display: flex;
  margin: 12px;
  justify-content: center;
  border-radius: 9px;
  padding: 25px 0;
  cursor: pointer;
  transition: 0.2s ease-in-out;
  padding-bottom: 35px;
}

.boxelements-item:hover {
  box-shadow: 2px 8px 22px lightgray;
}

.items {
  width: 50%;
}

.items h3 {
  max-width: 200px;
  margin-bottom: 10px;
}

.items p {
  overflow: hidden;
  width: 100px;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.price {
  display: flex;
  width: 100%;
  margin-top: 15px;
}

.items-image > img {
  object-fit: cover;
  height: 150px;
  width: 150px;
  border-radius: 9px;
}

/* panier */

.buy {
  display: flex;
  align-items: center;
  flex-direction: column;
  position: sticky;
  top: 18px;
  width: 100%;
  min-height: 25vh;
  border-radius: 8px;
  background-color: white;
  margin-top: 20px;
  box-shadow: 2px 8px 22px lightgray;
}

.buy-items {
  color: white;
  border: 2px solid #01cdbd;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  width: 88%;
  margin: 15px 0;
  background-color: #01cdbd;
}

.buy-items:hover {
  background-color: white;
  color: #01cdbd;
  cursor: pointer;
}

.buy-items-list {
  font-size: 1.1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;
}

.buy-items-list > p {
  margin: 0 4px;
}

#popular {
  margin-left: 14px;
  font-weight: bolder;
  color: orange;
}

/* shoppingcart */

.shoppingcart {
  align-items: stretch;
  display: flex;
  flex-direction: column;
  width: 30%;
}

@media (min-width: 1500px) {
  .card {
    width: 77%;
    /* background-color: #01cdbd; */
  }
  .buy {
    width: 100%;
  }

  .shoppingcart {
    width: 23%;
  }
}

#price {
  width: 95%;
  margin-top: 15px;
}

.price {
  margin: 20px 0;
  display: flex;
  justify-content: space-between;
  width: 300px;
}

.pricebox-items {
  display: flex;
}

.pricebox-title {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.pricebox-quantity {
  display: flex;
  justify-content: center;
  align-items: center;
}

#plus {
  color: green;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 22px;
  cursor: pointer;
  margin-left: 8px;
  margin-right: 15px;
}

#minus {
  color: red;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 23px;
  cursor: pointer;
  margin-right: 8px;
}

#quantity {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  cursor: pointer;
}

.total {
  margin-top: 20px;
  margin-bottom: 5px;
}

.stotal {
  margin-bottom: 10px;
}
